<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNttN8ayr4umpIMyLMMMaUFoJEGuWYNEw</string>
	<key>GCM_SENDER_ID</key>
	<string>327459150891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anay.HeyHobby</string>
	<key>PROJECT_ID</key>
	<string>heyhobby-bcf76</string>
	<key>STORAGE_BUCKET</key>
	<string>heyhobby-bcf76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327459150891:ios:d8e6319bf95a9b98cc5e6e</string>
</dict>
</plist>